<div *ngIf="!photosUrls" class="alert alert-warning" role="alert">No photos were found</div>
<div class="row">
    <div id='col0' class="col-12 col-sm-3">
<!--        <img  *ngFor='let indexNum of numsArray[0]' src="{{photosUrls[0]}}" width='100%'>-->
    </div>
    <div id='col1' class="col-12 col-sm-3">
<!--        <img  *ngFor='let indexNum of numsArray[1]' src = "{{photosUrls[0]}}" width='100%'>-->
    </div>
    <div id='col2' class="col-12 col-sm-3">
<!--        <img  *ngFor='let indexNum of numsArray[2]' src = "{{photosUrls[0]}}" width='100%'>-->
    </div>
    <div id='col3' class="col-12 col-sm-3">
<!--        <img  *ngFor='let indexNum of numsArray[3]' src = "{{photosUrls[0]}}" width='100%'>-->
    </div>


</div>